<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>touchandlearn</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29.png</string>
				<string>AppIcon29x29@2x.png</string>
				<string>AppIcon40x40@2x.png</string>
				<string>AppIcon57x57.png</string>
				<string>AppIcon57x57@2x.png</string>
				<string>AppIcon60x60@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29.png</string>
				<string>AppIcon29x29@2x.png</string>
				<string>AppIcon40x40@2x.png</string>
				<string>AppIcon57x57.png</string>
				<string>AppIcon57x57@2x.png</string>
				<string>AppIcon60x60@2x.png</string>
				<string>AppIcon29x29~ipad.png</string>
				<string>AppIcon29x29@2x~ipad.png</string>
				<string>AppIcon40x40~ipad.png</string>
				<string>AppIcon40x40@2x~ipad.png</string>
				<string>AppIcon50x50~ipad.png</string>
				<string>AppIcon50x50@2x~ipad.png</string>
				<string>AppIcon72x72~ipad.png</string>
				<string>AppIcon72x72@2x~ipad.png</string>
				<string>AppIcon76x76~ipad.png</string>
				<string>AppIcon76x76@2x~ipad.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.digia.touchandlearn</string>
	<key>CFBundleName</key>
	<string>touchandlearn</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
